<footer class="p-4 surface-200">
    <div class="grid align-items-center">
        <!-- Logo -->
        <div class="col-12 md:col-3 flex justify-content-center md:justify-content-start">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2e/Logo_de_la_Universidad_de_La_Guajira.svg/445px-Logo_de_la_Universidad_de_La_Guajira.svg.png" alt="Logo" class="footer-logo" />
        </div>

        <!-- Sección de Sobre Nosotros -->
        <div class="col-12 md:col-3">
            <h4 class="text-lg font-medium mb-2">Sobre Nosotros</h4>
            <p class="m-0">Nuestra misión</p>
            <p class="m-0">¡No estamos contratando!</p>
        </div>

        <!-- Sección de Recursos -->
        <div class="col-12 md:col-3">
            <h4 class="text-lg font-medium mb-2">Recursos</h4>
            <p class="m-0">Tutoriales</p>
            <p class="m-0">Recursos de la Marca</p>
        </div>

        <!-- Sección de Contacto -->
        <div class="col-12 md:col-3">
            <h4 class="text-lg font-medium mb-2">Contáctanos</h4>
            <p class="m-0">Teléfono: +57 (301) 792-7338</p>
            <p class="m-0">Email: guajiralearn&#64;uniguajira.edu.co</p>

            <!-- Redes Sociales -->
            <div class="flex gap-2 mt-2">
                <a pRipple class="social-icon" href="https://www.facebook.com/esneider.osorio.7374" target="_blank">
                    <i class="pi pi-facebook text-lg"></i>
                </a>
                <a pRipple class="social-icon" href="https://x.com/usxr_dxx" target="_blank">
                    <i class="pi pi-twitter text-lg"></i>
                </a>
                <a pRipple class="social-icon" href="https://wa.me/573017927338?text=Hola,%20eres%20el%20mejor." target="_blank">
                    <i class="pi pi-whatsapp text-lg"></i>
                </a>
                <a pRipple class="social-icon" href="https://www.instagram.com/mr.payarez/" target="_blank">
                    <i class="pi pi-instagram text-lg"></i>
                </a>
            </div>
        </div>
    </div>

    <!-- Línea y derechos reservados -->
    <hr class="surface-border mt-4" />
    <div class="text-center text-sm mt-2">
        © 2024 Universidad de La Guajira. Todos los derechos reservados.
    </div>
</footer>
