<main>
    <header>
        <app-header></app-header>
    </header>

    <section class="form-container">
        <p-card header="Registrar Estudiante" [style]="{ width: '100%' }">
            <ng-template pTemplate="header"></ng-template>
            <div>
                <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()" class="p-3 bg-faded">
    
                    <div class="grid">
                        <div class="col-12 sm:col-6">
                            <p-floatLabel>
                                <input pInputText id="nombre" formControlName="nombre" />
                                <label for="nombre">Nombre</label>
                            </p-floatLabel>
                        </div>
                        <br><br><br><br>
    
                        <div class="col-12 sm:col-6">
                            <p-floatLabel>
                                <input pInputText id="apellido" formControlName="apellido" />
                                <label for="apellido">Apellido</label>
                            </p-floatLabel>
                        </div>
                        <br><br><br><br>
    
                        <div class="col-12 sm:col-6">
                            <p-floatLabel>
                                <p-dropdown [options]="tipoIdOptions" formControlName="tipo_id"></p-dropdown>
                                <label for="tipo_id">Tipo de Identificación</label>
                            </p-floatLabel>
                        </div>
                        <br><br><br><br>
    
                        <div class="col-12 sm:col-6">
                            <p-floatLabel>
                                <input pInputText id="numero_id" type="number" formControlName="numero_id" />
                                <label for="numero_id">Número de Identificación</label>
                            </p-floatLabel>
                        </div>
                        <br><br><br><br>
                    </div>
    
                    <div class="grid">
                        <div class="col-12 sm:col-6">
                            <p-floatLabel>
                                <p-dropdown [options]="carreraOptions" formControlName="carrera"></p-dropdown>
                                <label for="carrera">Carrera</label>
                            </p-floatLabel>
                        </div>
                        <br><br><br><br>
    
                        <div class="col-12 sm:col-6">
                            <p-floatLabel>
                                <input pInputText id="semestre" type="number" formControlName="semestre" />
                                <label for="semestre">Semestre</label>
                            </p-floatLabel>
                            <small *ngIf="semestre?.hasError('min') || semestre?.hasError('max')" class="text-danger">
                                El semestre debe estar entre 1 y 10.
                            </small>
                        </div>
                        <br><br><br><br>
    
                        <div class="col-12 sm:col-6">
                            <p-floatLabel>
                                <input pInputText id="correo" type="email" formControlName="correo" />
                                <label for="correo">Correo</label>
                            </p-floatLabel>
                            <small *ngIf="correo?.hasError('uniguajiraEmail')" class="text-danger">
                                El correo debe terminar en &#64;uniguajira.edu.co.
                            </small>
                        </div>
                        <br><br><br><br>
    
                        <div class="col-12 sm:col-6">
                            <p-password formControlName="contraseña" placeholder="Contraseña" [toggleMask]="true">
                                <ng-template pTemplate="header">
                                    <h5>Elige una contraseña</h5>
                                </ng-template>
                                <ng-template pTemplate="footer">
                                    <p-divider></p-divider>
                                    <p class="mt-2">Sugerencias</p>
                                    <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                                        <li>Al menos una letra minúscula</li>
                                        <li>Al menos una letra mayúscula</li>
                                        <li>Al menos un número</li>
                                        <li>Mínimo 8 caracteres</li>
                                    </ul>
                                </ng-template>
                            </p-password>
                        </div>
                        <br><br><br><br>
                    </div>
    
                    <div class="flex justify-content-center flex-wrap">
                        <button pButton pRipple label="Guardar" icon="pi pi-save" severity="info" class="mr-4" type="submit"></button>
                        <button pButton pRipple label="Cancelar" icon="pi pi-times-circle" severity="warning" class="mr-4" type="button" (click)="cancel()"></button>
                    </div>
                </form>
            </div>
            <p-messages [(value)]="messages" [enableService]="false"></p-messages>
            <ng-template pTemplate="footer"></ng-template>
        </p-card>
    </section>
    
    

    <footer>
        <app-footer></app-footer>
    </footer>

</main>