.card {
    padding: 1.2em;
    border-radius: 20px;
    border: 2px solid #3d68c4;
}

.title {
    margin-top: 1em;
    text-align: left;
    background: linear-gradient(to right, #5182EE 0%, #D96570 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.message-user {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.message-user-text {
    background: #242526;
    color: white;
    text-align: right;
    border-radius: 20px;
    padding: 8px;
    width: auto;
}

.message-gpt {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.icon-message-gpt {
    width: 40px;
    height: 40px;
}

.icon{
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.content-message-gpt {
    max-width: 90%;
}

.message-gpt-text {
    background: transparent;
    color: white;
    text-align: left;
    border-radius: 20px;
    padding: 8px;
    width: auto;
}

.vh-100 {
    height: 70vh;
    overflow-y: auto;
}

.input {
    margin-top: 1em;
    width: 100%;
    padding: 12px;
    border: 2px solid #5182EE;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s, transform 0.3s;
    color: #ffffff;
    box-sizing: border-box;
}

.input:focus {
    border-color: #5182EE;
    box-shadow: 0 0 15px rgbg(52, 96, 219, 0.5);
}

.input::placeholder {
    color: #aaa;
}

.input:hover {
    background-color: #000000;
}

.text-container {
    max-height: 400px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    font-family: monospace;
    white-space: pre-wrap;
}

.typewriter-text {
    display: inline-block;
    border-right: 2px solid black;
    white-space: nowrap;
    overflow: hidden;
}

.content::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.content::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.content::-webkit-scrollbar-thumb:hover{
    background: #555;
}

.main-layout {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 1rem;
    height: 100vh;
  }
  
  .sidebar,
  .sidebar-right {
    background-color: #f5f5f5;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  
  .spacer {
    flex-grow: 1;
  }
  
  .menu-button,
  .logout-button {
    width: 100%;
    margin: 0.5rem 0;
    color: white;
    font-weight: bold;
    padding: 0.8rem;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
  }
  
  .menu-button {
    background-color: #e2a23e;
  }
  
  .logout-button {
    background-color: #cd5c4f;
    position: absolute;
    bottom: 1rem;
  }
  
  .menu-button:hover,
  .logout-button:hover {
    background-color: #d9823e;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .lessons-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    width: 100%;
    margin-top: 1rem;
  }
  
  .lesson-card {
    padding: 1rem;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .lesson-button {
    background-color: #60a9b9;
    color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border: none;
    border-radius: 8px;
  }
  
  .status-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .theme-toggle {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .switch {
    position: relative;
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .switch.active {
    background-color: #333;
  }
  
  .switch .slider {
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    transition: transform 0.3s;
  }
  
  .switch.active .slider {
    transform: translateX(20px);
  }
  
  .calendar-container {
    border: 2px solid #ffd700;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .calendar-title {
    font-weight: bold;
    color: #996600;
    margin-bottom: 0.5rem;
  }
  
  .calendar-date {
    font-weight: bold;
    color: #996600;
    margin-bottom: 1rem;
  }
  
  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.5rem;
  }
  
  .calendar-grid span {
    display: inline-block;
    color: #333;
    font-size: 0.9rem;
  }
  
  .calendar-grid span:nth-child(8n-1),
  .calendar-grid span:nth-child(8n) {
    color: red;
  }
  
  .dark-mode {
    background-color: #333;
    color: #f5f5f5;
  }
  
  .dark-mode .sidebar,
  .dark-mode .sidebar-right {
    background-color: #444;
  }
  
  .dark-mode .menu-button,
  .dark-mode .logout-button {
    background-color: #555;
  }
  
  .dark-mode .menu-button:hover,
  .dark-mode .logout-button:hover {
    background-color: #666;
  }
  
  .dark-mode .lesson-card {
    background-color: #555;
    color: #f5f5f5;
  }
  
  .dark-mode .calendar-container {
    border-color: #666;
  }
  
  .dark-mode .calendar-title,
  .dark-mode .calendar-date {
    color: #ffd700;
  }
  