.field-margin {
    margin-bottom: 1.5rem; /* Espaciado entre campos */
}

.session-button {
    background-color: #60a9b9 !important; /* Color personalizado para Iniciar Sesión */
    border-color: #60a9b9 !important;
    color: white;
}

.register-button {
    background-color: #e2a23e !important; /* Color personalizado para Registrarse */
    border-color: #e2a23e !important;
    color: white;
}
