<main class="main-layout" [ngClass]="{ 'dark-mode': isDarkMode }">
  <aside class="sidebar">
    <h2>GUAJIRA LEARN</h2>
    <button class="menu-button" style="background-color: #e2a23e;"
      (click)="navegar('usuarios/estudiante/inicio')">Estudiar</button>
    <button class="menu-button" style="background-color: #e2a23e;">Clasificación</button>
    <button class="menu-button" style="background-color: #e2a23e;"
      (click)="navegar('usuarios/estudiante/tienda')">Tienda</button>
    <button class="menu-button" style="background-color: #e2a23e;"
      (click)="navegar('usuarios/estudiante/perfil')">Perfil</button>
    <div class="spacer"></div>
    <button class="logout-button" (click)="cerrarSesion()">Cerrar sesión</button>
  </aside>

  <section class="content">
    <h2>ALGORITMO Y PROGRAMACIÓN I</h2>

    <div class="question-form">

      <div class="question">
        <p><strong>1. ¿Qué es un algoritmo?</strong></p>
        <label>
          <input type="radio" [(ngModel)]="userAnswers[0]" name="question1" value="A" /> A) Un programa que realiza
          cálculos matemáticos.
        </label>
        <label>
          <input type="radio" [(ngModel)]="userAnswers[0]" name="question1" value="B" /> B) Una secuencia de pasos
          ordenados para resolver un problema.
        </label>
        <label>
          <input type="radio" [(ngModel)]="userAnswers[0]" name="question1" value="C" /> C) Un lenguaje de programación.
        </label>
        <label>
          <input type="radio" [(ngModel)]="userAnswers[0]" name="question1" value="D" /> D) Un sistema operativo.
        </label>
      </div>

      <div class="question">
        <p><strong>2. ¿Cuál de los siguientes no es un tipo de estructura de control en programación?</strong></p>
        <label>
          <input type="radio" [(ngModel)]="userAnswers[1]" name="question2" value="A" /> A) Secuencial.
        </label>
        <label>
          <input type="radio" [(ngModel)]="userAnswers[1]" name="question2" value="B" /> B) Iterativa.
        </label>
        <label>
          <input type="radio" [(ngModel)]="userAnswers[1]" name="question2" value="C" /> C) Recursiva.
        </label>
        <label>
          <input type="radio" [(ngModel)]="userAnswers[1]" name="question2" value="D" /> D) Funcional.
        </label>
      </div>

      <div class="question">
        <p><strong>3. ¿Qué es un bucle infinito?</strong></p>
        <label>
          <input type="radio" [(ngModel)]="userAnswers[2]" name="question3" value="A" /> A) Un bucle que nunca se
          ejecuta.
        </label>
        <label>
          <input type="radio" [(ngModel)]="userAnswers[2]" name="question3" value="B" /> B) Un bucle que ejecuta un
          número específico de veces.
        </label>
        <label>
          <input type="radio" [(ngModel)]="userAnswers[2]" name="question3" value="C" /> C) Un bucle que se ejecuta
          indefinidamente sin condición de parada.
        </label>
        <label>
          <input type="radio" [(ngModel)]="userAnswers[2]" name="question3" value="D" /> D) Un bucle que solo se ejecuta
          una vez.
        </label>
      </div>

      <div class="question">
        <p><strong>4. ¿Cuál de los siguientes es un lenguaje de programación de alto nivel?</strong></p>
        <label>
          <input type="radio" [(ngModel)]="userAnswers[3]" name="question4" value="A" /> A) Ensamblador.
        </label>
        <label>
          <input type="radio" [(ngModel)]="userAnswers[3]" name="question4" value="B" /> B) Binario.
        </label>
        <label>
          <input type="radio" [(ngModel)]="userAnswers[3]" name="question4" value="C" /> C) Python.
        </label>
        <label>
          <input type="radio" [(ngModel)]="userAnswers[3]" name="question4" value="D" /> D) Código máquina.
        </label>
      </div>

      <div class="question">
        <p><strong>5. ¿Qué es la recursividad en programación?</strong></p>
        <label>
          <input type="radio" [(ngModel)]="userAnswers[4]" name="question5" value="A" /> A) Un bucle que se repite
          indefinidamente.
        </label>
        <label>
          <input type="radio" [(ngModel)]="userAnswers[4]" name="question5" value="B" /> B) Una función que se llama a
          sí misma.
        </label>
        <label>
          <input type="radio" [(ngModel)]="userAnswers[4]" name="question5" value="C" /> C) Una variable que cambia su
          valor constantemente.
        </label>
        <label>
          <input type="radio" [(ngModel)]="userAnswers[4]" name="question5" value="D" /> D) Un tipo de dato que guarda
          listas de elementos.
        </label>
      </div>

      <div class="question">
        <p><strong>6. ¿Cuál es el resultado de la operación 10 % 3 en la mayoría de los lenguajes de
            programación?</strong></p>
        <label>
          <input type="radio" [(ngModel)]="userAnswers[5]" name="question6" value="A" /> A) 1
        </label>
        <label>
          <input type="radio" [(ngModel)]="userAnswers[5]" name="question6" value="B" /> B) 3
        </label>
        <label>
          <input type="radio" [(ngModel)]="userAnswers[5]" name="question6" value="C" /> C) 10
        </label>
        <label>
          <input type="radio" [(ngModel)]="userAnswers[5]" name="question6" value="D" /> D) 0
        </label>
      </div>

      <div class="question">
        <p><strong>7. ¿Cuál de los siguientes es un operador lógico en programación?</strong></p>
        <label>
          <input type="radio" [(ngModel)]="userAnswers[6]" name="question7" value="A" /> A) +
        </label>
        <label>
          <input type="radio" [(ngModel)]="userAnswers[6]" name="question7" value="B" /> B) -
        </label>
        <label>
          <input type="radio" [(ngModel)]="userAnswers[6]" name="question7" value="C" /> C) &&
        </label>
        <label>
          <input type="radio" [(ngModel)]="userAnswers[6]" name="question7" value="D" /> D) %
        </label>
      </div>

      <div class="question">
        <p><strong>8. ¿Qué estructura de datos es más adecuada para almacenar una colección ordenada de elementos del
            mismo tipo?</strong></p>
        <label>
          <input type="radio" [(ngModel)]="userAnswers[7]" name="question8" value="A" /> A) Lista.
        </label>
        <label>
          <input type="radio" [(ngModel)]="userAnswers[7]" name="question8" value="B" /> B) Pila.
        </label>
        <label>
          <input type="radio" [(ngModel)]="userAnswers[7]" name="question8" value="C" /> C) Cola.
        </label>
        <label>
          <input type="radio" [(ngModel)]="userAnswers[7]" name="question8" value="D" /> D) Árbol binario.
        </label>
      </div>

      <div class="question">
        <p><strong>9. ¿Qué significa depurar en programación?</strong></p>
        <label>
          <input type="radio" [(ngModel)]="userAnswers[8]" name="question9" value="A" /> A) Escribir código sin errores.
        </label>
        <label>
          <input type="radio" [(ngModel)]="userAnswers[8]" name="question9" value="B" /> B) Ejecutar un programa.
        </label>
        <label>
          <input type="radio" [(ngModel)]="userAnswers[8]" name="question9" value="C" /> C) Identificar y corregir
          errores en el código.
        </label>
        <label>
          <input type="radio" [(ngModel)]="userAnswers[8]" name="question9" value="D" /> D) Traducir el código a
          lenguaje máquina.
        </label>
      </div>

      <div class="question">
        <p><strong>10. En programación, ¿qué es una variable?</strong></p>
        <label>
          <input type="radio" [(ngModel)]="userAnswers[9]" name="question10" value="A" /> A) Un valor fijo que nunca
          cambia.
        </label>
        <label>
          <input type="radio" [(ngModel)]="userAnswers[9]" name="question10" value="B" /> B) Una porción de memoria
          donde se guarda un valor que puede cambiar.
        </label>
        <label>
          <input type="radio" [(ngModel)]="userAnswers[9]" name="question10" value="C" /> C) Un tipo de dato reservado
          solo para números enteros.
        </label>
        <label>
          <input type="radio" [(ngModel)]="userAnswers[9]" name="question10" value="D" /> D) Una función que realiza
          cálculos.
        </label>
      </div>

      <button (click)="submitForm()">Enviar</button>

    </div>

  </section>

  <aside class="sidebar-right">
    <div class="status-icons">
      <p>🔥 {{ racha }} 🌵 {{ cactusCoins }}</p>
      <div class="theme-toggle">
        <button (click)="toggleDarkMode()" class="switch" [ngClass]="{ 'active': isDarkMode }">
          <span class="slider"></span>
        </button>
        <label>🌙 Tema oscuro</label>
      </div>
    </div>
    <div class="calendar-container">
      <h3 class="calendar-title">Calendario</h3>
      <p class="calendar-date">{{ fechaActual | date:'MMMM yyyy' }}</p>
      <div class="calendar-grid">
        <span *ngFor="let day of diasMes">{{ day }}</span>
      </div>
    </div>
  </aside>
</main>